<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat sequi dolorum reiciendis magnam. Quas vero dolore a, fugit libero velit consequatur. Distinctio, ullam eligendi asperiores deleniti corporis numquam illo fugiat?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam dolorem et atque repellat magnam voluptatum porro minus laudantium incidunt, enim qui sequi nam! Aut eligendi numquam excepturi eaque inventore exercitationem!</p>
</body>
</html>